# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars.json
.terraform.lock.hcl

# Secrets
*.pem
*.key
.env
group_vars/vault.yml

# Python
__pycache__/
*.pyc
.venv/

# OS/IDE
.DS_Store
.vscode/settings.json
