aws_region       = "eu-west-1"
project_name     = "erez-cv-devops"
owner            = "Erez Glik"
key_name         = "erezg01.pem"
allowed_ssh_cidr = "87.71.152.46/32"
sns_email        = "glikerez@gmail.com"
db_name          = "erezcv"
db_username      = "erezadmin"
db_password      = "Z3z3z3z3z3#!"
instance_type    = "t3.micro"
create_rds       = true
