aws_region       = "eu-west-1"
project_name     = "erez-cv-devops"
owner            = "Erez Glik"
key_name         = "erezg01"
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32"
sns_email        = "your.email@example.com"
db_name          = "erezcv"
db_username      = "CHANGE_ME_DB_USER"
db_password      = "CHANGE_ME_STRONG_PASSWORD"
instance_type    = "t3.micro"
create_rds       = true
