AWS_REGION={{ aws_region }}
RDS_ENDPOINT={{ rds_endpoint }}
DB_NAME={{ db_name }}
DB_USERNAME={{ db_username }}
DB_PASSWORD={{ vault_db_password }}
S3_BUCKET_NAME={{ s3_bucket_name }}
SNS_TOPIC_ARN={{ sns_topic_arn }}
FLASK_SECRET_KEY={{ vault_flask_secret_key }}
